
  <br>
  <div class="card mb-3" style="max-width: 100%; margin: -1;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../../assets/img/IMG_0600.JPG" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Datos Personales</h5>
          <p class="card-text">
            Mi nombre es <b>Angel Miguel Reyes Guerrero</b>, soy estudiante del Centro Educativo Técnico Laboral Kinal, actualmente estoy <br>
            cursando Sexto Périto en Informática. Tengo 19 años, tengo aspiraciones de seguir en la Universidad, en San Carlos de Guatemala. <br>
            Me gusta la informática, ya que nos da la oportunidad de hacer muchas cosas con relación a la tecnología, desde crear un programa <br>
            simple hasta un juego bastante complejo como <b>Grand Theft Auto V</b>. <br>
            Vivo con 5 personas más en mi casa, mi papá, mi hermano, mi madrastra, mi abuela y mi tia. <br>
            Me gusta aprender cosas nuevas, con respecto a la programación me gusta estar en constante <br>
            aprendizaje, aprender nuevas tecnologías y mejorar las que ya conozco.
            <br> <br>
            Hay un dicho que dice: " <i>Code is Poetry</i>"... Su traducción es: "<i>El código es poesía</i>". Yo le doy la definición a <br>
            esta frase o dicho, que el código es un arte, ya que es algo que podemos crear con nuestras propias manos y con nuestra <br>
            imaginación, ya que los límites en la programación es lo que nosotros podamos inventar, y nostros podemos inventar algo <br>
            hasta donde nuestra imaginación o nuestra mente nos lo permita. <br>
            Tengo varias metas,  una de ellas es lograr graduarme de la universidad, de ingeniería en sistemas. Otra es certificarme <br>
            de varios módulos de redes de Cisco, como el CCNA, CCNP. Me llama la atención trabajar de freelance mientras estudio en la universidad, <br>
            ya que con eso tendría facilidad para costearme cualquier cosa que me sea necesaria para mi aprendizaje.
            
            <br><br>
            <b>Tengo Conocimientos en: </b>

            <li>
              <a routerLink="development">
                Programación en Java POO (mínimo) 
              </a>
            </li>
            <br>
            <li>
              <a routerLink="development">
                Programación en Java SE (medio) 
              </a>
            </li>
            <br>
            <li>
              <a routerLink="development">
                Programación en Java EE (mínimo) 
              </a>
            </li>
            <br>
            <li>
              <a routerLink="webDevelopment">
                Desarrollo de HTML (avanzado) 
              </a>
            </li>
            <br>
            <li>
              <a routerLink="webDevelopment">
                Desarrollo de CSS (avanzado) 
              </a>
            </li>
            <br>
            <li>
              <a routerLink="webDevelopment">
                React (medio) 
              </a>
            </li>
            <br>
            <li>
              <a routerLink="webDevelopment">
               Flutter (mínimo) 
              </a>
            </li>
            <br>
            <li>
              <a routerLink="webDevelopment">
                NodeJs (medio) 
              </a>
            </li>
            <br>
            <li>
              <a routerLink="webDevelopment">
                Express (medio) 
              </a>
            </li>
            <br>
            <li>
              <a routerLink="webDevelopment">
                Angular (medio) 
              </a>
            </li>
            <br>
            <li>
              <a routerLink="webDevelopment">
                TypeScript (medio) 
              </a>
            </li>
            <br>
            <li>
              <a routerLink="networking">
                Redes, conceptos básicos 
              </a>
            </li>
            <br>
            <li>
              <a href="https://github.com/areyes107">
                Manejo de Git y Github (avanzado) 
              </a>
            </li>
            <br>
          </p>
        </div>
      </div>
    </div>
  </div>